In [1]:
import os
from urllib import parse

In [2]:
%load_ext sql

In [3]:
config = {
    "DWH_DB_USER": "postgres",
    "DWH_DB_PASSWORD": parse.quote("postgres"),
    "DWH_URL": "127.0.0.1",
    "DWH_PORT": 5432,
    "DWH_DB": "postgres",
}

In [4]:
conn_string = "postgresql://{}:{}@{}:{}/{}".format(*config.values())

In [5]:
%sql $conn_string

'Connected: postgres@postgres'

In [8]:
%sql \l

 * postgresql://postgres:***@127.0.0.1:5432/postgres
5 rows affected.

[('davidkuda', 'davidkuda', 'UTF8', 'en_US.UTF-8', 'en_US.UTF-8', None),
 ('postgres', 'postgres', 'UTF8', 'en_US.UTF-8', 'en_US.UTF-8', None),
 ('recordings',
  'postgres',
  'UTF8',
  'en_US.UTF-8',
  'en_US.UTF-8',
  '=Tc/postgres\npostgres=CTc/postgres\ndavid=CTc/postgres'),
 ('template0',
  'postgres',
  'UTF8',
  'en_US.UTF-8',
  'en_US.UTF-8',
  '=c/postgres\npostgres=CTc/postgres'),
 ('template1',
  'postgres',
  'UTF8',
  'en_US.UTF-8',
  'en_US.UTF-8',
  '=c/postgres\npostgres=CTc/postgres')]

In [9]:
%sql \d

 * postgresql://postgres:***@127.0.0.1:5432/postgres
0 rows affected.

[]

In [13]:
%sql --file ../create_tables.sql

 * postgresql://postgres:***@127.0.0.1:5432/postgres
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --file ../create_tables.sql]
(Background on this error at: https://sqlalche.me/e/14/f405)