# Access a Database (e.g. Postgres or Redshift) From a Jupyter Notebook

### dependency requirements:
- ipython-sql
- psycopg2
- sqlalchemy

### optional:
- `conda install pgspecial` https://github.com/dbcli/pgspecial

### Documentation Links:
- https://github.com/catherinedevlin/ipython-sql
- https://jupyter-tutorial.readthedocs.io/en/latest/data-processing/postgresql/ipython-sql.html

## How To Connect To Your Database

### The Usual iPython SQL Way

First, let's have a look how you would usually connect to your database in a notebook with iPython.

You create a connection string that you use in a "magic cell". A connection string has a similar format to `"postgresql://user:password@url:port/database"`. Since this is a url, you need to escape special characters (that you might have in your password). You activate a magic cell by starting it with a percent symbol `%`, in our case with `%sql`. Before you can use the magic commands, you have to activate it with `%load_ext sql`.

In [1]:
from urllib import parse

In [2]:
config = {
    "user": "postgres",
    "password": parse.quote("postgres"),
    "url": "127.0.0.1",
    "port": 5432,
    "database": "postgres",
}

In [3]:
# One Option: Use Python's Asterisk Operator:
conn_string = "postgresql://{}:{}@{}:{}/{}".format(*config.values())

In [4]:
# Other Option: List Values Explicitely with str.format():
conn_string = "postgresql://{}:{}@{}:{}/{}".format(
    config["user"],
    config["password"],
    config["url"], 
    config["port"],
    config["database"],
)

In [5]:
# Third Option: Use an f String:
c = config
conn_string = f'postgresql://{c["user"]}:{c["password"]}@{c["url"]}:{c["port"]}/{c["database"]}'

In [6]:
conn_string

'postgresql://postgres:postgres@127.0.0.1:5432/postgres'

In [ ]:
%load_ext sql

Finally, you can connect to your database with `sql $conn_string`, where the dollar symbol `$` refers to a variable in the current session. `$conn_string` will thus translate into the string `postgresql://postgres:postgres@127.0.0.1:5432/postgres`. You could as well just pass the string to connect.

In [ ]:
%sql $conn_string

There is another option: When you have the environment variable `DATABASE_URL` set, you do not need to pass a connection string to `%sql`, but can use it just like that.

In [7]:
import os

In [8]:
os.environ["DATABASE_URL"] = conn_string

In [ ]:
%sql # will connect to the value set in the env var DATABASE_URL

### The Abstracted Way in `src/db_connector`

Since I use this way to connect to a database very often, I did not want to create all that config overhead in the cells, but wanted to abstracted in a function "behind the scenes". 

In your terminal at top level, enter `pip install -e .`. This command will look at the `setup.py` file and install the module in `src/db_connector` (as specified in `setup.py`) in "editable" mode, which means that any changes you make will auto update the dependency.

Once you have done that, you can very easily import that package in your notebook, and use it to connect to your database.

In [9]:
from db_connector.main import prepare_connection

In [10]:
prepare_connection?

Signature: prepare_connection(environment: str = None) -> str
Docstring:
Build conn_string from .settings.toml, export env_var, open ssh tunnel (if given).

conn_string will be made available as env var DATABASE_URL and DATABASE_URL_ + environment.

Args:
    environment (string):
        An environment corresponding to the objects in ".settings.toml", e.g.
        "production" or "staging".

Returns:
    A connection string that can be used with sqlalchemy, and that can be used with
    iPython magic sql.
File:      ~/code/repos/notebook_db_io/src/db_connector/main.py
Type:      function

Whatever you pass as argument to `prepare_connection`, the environment must be available in `settings.toml` on top dir / root level of this repository.

Your settings.toml could look something like this:

```toml
# settings.toml on root dir
[staging]
user = "davidkuda"
password = "${ENV_VAR}"
db_url = "db.kuda.ai"
port = 5432
database = "dev"
ssh_cmd = "ssh -fL 5432:db.kuda.ai:5432"
```

You can use env vars with the syntax `${ENV_VAR}`, and you can optionally pass an ssh command.

This will make the `conn_string` available as the environment variable `DATABASE_URL`, so you can connect just with `%sql`:

In [11]:
prepare_connection("sample_staging")

ipython magic sql made available.
Exported env var DATABASE_URL_SAMPLE_STAGING.
Set DATABASE_URL for sample_staging

'postgresql://postgres:postgres@127.0.0.1:5432/dev'

In [ ]:
%sql

If you had more than one connection, you cann assign the return value of `prepare_connection` to a variable, and use the variable to refer to a connection.

In [12]:
production = prepare_connection("sample_production")
staging = prepare_connection("sample_staging")

Exported env var DATABASE_URL_SAMPLE_PRODUCTION.
Set DATABASE_URL for sample_production
Exported env var DATABASE_URL_SAMPLE_STAGING.
Set DATABASE_URL for sample_staging

In [ ]:
# Run a Query With Production Settings:
%%sql $production
SELECT col1, col2
FROM table
LIMIT 10;

In [ ]:
# Run a Query With Production Settings:
%%sql $staging
SELECT col1, col2
FROM table
LIMIT 10;

### Documentation:
- single line sql -> use with variables from iPython session
- single line, but a str var
- multi line (no vars possible, only str)

#### save output to the variable `data` in memory

```ipython
result = %sql SELECT * FROM accounts;
```

```ipython
%%sql data <<
SELECT *
FROM security.wiz_iac_scan_results
LIMIT 20;
```

In [ ]:
%sql CREATE DATABASE recordings;

In [ ]:
%%sql
CREATE USER david WITH PASSWORD 'postgres';
GRANT ALL PRIVILEGES ON DATABASE recordings TO david;

In [ ]:
%%sql
START TRANSACTION;
DROP TABLE IF EXISTS album;
CREATE TABLE album (
  id         SERIAL PRIMARY KEY NOT NULL,
  title      VARCHAR(128) NOT NULL,
  artist     VARCHAR(255) NOT NULL,
  price      DECIMAL(5,2) NOT NULL
);

INSERT INTO album
  (title, artist, price)
VALUES
  ('Blue Train', 'John Coltrane', 56.99),
  ('Giant Steps', 'John Coltrane', 63.99),
  ('Jeru', 'Gerry Mulligan', 17.99),
  ('Sarah Vaughan', 'Sarah Vaughan', 34.98);
END TRANSACTION;

In [ ]:
%sql SELECT * FROM album;